@media (max-width: 768px) {
    :global(.row).catalogItemsRow {
        width: fit-content !important;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    :global(.row).catalogItemsRow {
        width: 100%;
    }
}