.formContainer {
    border: 1px solid var(--bs-success);
    overflow: hidden;
    width: 350px;
}

.logo {
    width: 250px;
    height: 250px;
    padding: 3rem;
    border: 5px solid var(--bs-success);
    border-radius: 50%;
    overflow: visible;
    filter:
        brightness(0)
        saturate(100%)
        invert(38%)
        sepia(74%)
        saturate(430%)
        hue-rotate(100deg)
        brightness(94%)
        contrast(95%);
}